{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Welcome to admin panel, {{current_user.name}}</h1>
    <!-- Dashboard Links -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('admin.add_program') }}" class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Program</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="{{ url_for('admin.add_loyalty_card') }}" class="card text-white bg-success">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Loyalty Card</h5>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-4">
            <a href="{{ url_for('admin.view_events') }}" class="card text-white bg-info">
                <div class="card-body">
                    <h5 class="card-title text-center">Programs Panel</h5>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

