{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if programs %}
    <h1 class="text-center mb-4">Upcoming Programs</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <!-- General Upcoming Programs -->
        {% if programs %}
        {% for program in programs %}
            {% include 'program_card.html' %}
        {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <h1 class="text-center mb-4">No upcoming programs for normal users right now</h1>
    {% endif %}
    <h1 class="text-center mb-4">Loyalty Early Booking Programs</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">

        <!-- Loyalty Member Programs -->
        {% if loyalty_programs %}
            {% for program in loyalty_programs %}
                {% include 'program_card_loyalty.html' %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

